[submodule "11-contract/lib/forge-std"]
	path = 11-contract/lib/forge-std
	url = https://github.com/foundry-rs/forge-std
[submodule "11-contract/lib/openzeppelin-contracts"]
	path = 11-contract/lib/openzeppelin-contracts
	url = https://github.com/OpenZeppelin/openzeppelin-contracts
